<?xml version="1.0"?>
<!--
/**
 * Copyright © Fluxx. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="email_for_recover" instance="Fluxx\Recover\Observer\Order\EmailRecover" />
    </event>
</config>